:root {
    --clr-primary-100: hsl(225, 100%, 94%);
    --clr-neutral-500: hsl(228, 45%, 44%);
    --clr-neutral-700: hsl(223, 47%, 23%);
    --clr-neutral-400: hsl(224, 23%, 55%);
    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-primary-300: hsl(244, 82%, 68%);
    --clr-primary-400: hsl(245, 75%, 52%);

    --ff-regular: 'Red Hat Display', sans-serif;

    --fw-light: 500;
    --fw-regular: 700;
    --fw-bold: 900;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  h1,
  h3 {
    line-height: 1;
  }

  body {
    background-image: url("./images/pattern-background-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-400);
    font-family: var(--ff-regular);
    font-weight: var(--fw-light);
    font-size: 1rem;
    margin: 1.2rem;

    display: grid;
    place-content: center;
  }

  .order {
    background-color: white;
    border-radius: 1rem;
    max-width: 445px;
  }

  .order__img img {
    border-radius: 1rem 1rem 0 0;

  }

  .order__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2rem;
    gap: 1.9rem;
  }

  @media (min-width: 600px) {
    body {
      background-image: url("./images/pattern-background-desktop.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }

    .order__content {
      padding: 1.2rem 2.8rem;
    }
  }

  .order-summary__title {
    color: var(--clr-neutral-700);
    margin-top: 1rem;
  }

  .order-summary__title,
  .plan {
    color: var(--clr-neutral-700);
  }

  .order-summary__title + p {
    text-align: center;
    position: relative;
    bottom: 0.75rem;
  }

  .order__product {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    padding: 0.85rem 1.05rem;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 600px) {
    .order__product {
      padding: 0.85rem 1.25rem;
    }
  }

  .order__item {
    display: flex;
    gap: 0.8rem;
  }
  
  .order__item::before {
    content: '';
    width: 48px;
    height: 48px;
    background-image: url("./images/icon-music.svg");
  }

  .plan {
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-700);
  }

  .order__change {
    color: var(--clr-primary-400);
    font-weight: var(--fw-regular);
  }

  .order__change:hover,
  .order__change:active,
  .order__change:focus {
    color: var(--clr-primary-300);
    text-decoration: none;
  }

  .button {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    font-weight: var(--fw-regular);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 10px 16px 3px hsl(245deg 51% 84%);
  }

  .button,
  .order__cancel,
  .order__change {
    transition: all 0.2s ease;
  }

  .button:hover,
  .button:active,
  .button:focus {
    background-color: var(--clr-primary-300);
    transform: translateY(-0.1rem);
  }

  .order__cancel {
    color: var(--clr-neutral-400);
    font-weight: var(--fw-regular);
    text-decoration: none;
    position: relative;
    bottom: 0.5rem;
  }

  .order__cancel:hover,
  .order__cancel:active,
  .order__cancel:focus {
    color: var(--clr-neutral-500);
  }

  footer {
    position: relative;
    top: 50px;
  }

  .attribution { 
    font-size: 11px; 
    text-align: center; 
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }